@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "barlow-black";
  src: url("/fonts/Barlow-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "barlow-extrabold";
  src: url("/fonts/Barlow-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "barlow-bold";
  src: url("/fonts/Barlow-ExtraBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "barlow-semibold";
  src: url("/fonts/Barlow-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "barlow-medium";
  src: url("/fonts/Barlow-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "barlow-regular";
  src: url("/fonts/Barlow-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "tahoma-regular";
  src: url("/fonts/Tahoma-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@layer base {
  body {
    @apply m-0 p-0 overflow-x-hidden outline-none list-none box-border font-barlowRegular;
  }
}

@layer components {
  .center-mode {
    @apply flex items-center justify-center;
  }

  .custom-container {
    @apply px-4;
  }
}

.footer-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../public/images/footer-bg.jpg');
}

.footer-color {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  transition: all ease .5s;
}

.footer_hov {
  position: relative;
  transition: all ease .5s
}

.footer_hov::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 15px;
  height: 20px;
  background-color: #ffcd1e;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  transition: all ease .5s;
  opacity: 0;
}

.footer_hov:hover {
  padding-left: 20px;
  color: #ffcd1e;
}

.footer_hov:hover::before {
  content: "";
  opacity: 1;
}

.button-hover {
  @apply py-3 px-6 ease-in-out overflow-hidden hover:bg-black transition-all hover:before:translate-y-0 z-10 transition duration-300 relative before:transition bg-yellow before:content-[""] before:w-full before:h-full before:bg-black before:block before:absolute before:top-0 before:left-0 before:z-[-1] before:-translate-y-full;
}

.triangle-hover {
  @apply transition-all duration-300 before:pointer-events-none before:content-[""] before:absolute before:top-[6px] before:left-[-21px] before:border-t-[10px] before:border-t-yellow before:border-solid before:border-l-[10px] before:border-l-transparent before:border-r-[10px] before:border-r-transparent before:border-b-0 before:rotate-45 hover:before:opacity-100 before:opacity-0
}

.box-shadow {
  box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
}

.input-class {
  @apply py-[10px] px-[20px] border outline-none focus:border-yellow w-full mb-1
}

.offer-hover {
  @apply w-full border-0 border-b-2 absolute bottom-0 left-0 border-yellow scale-x-0 transition
}

.stat-box {
  @apply w-full bg-[url('/images/about-bg.jpg')] py-8 z-10 relative before:content-[""] before:absolute before:top-0 before:left-0 before:bg-[#000]/[0.7] before:z-[-1] before:w-full before:h-full bg-cover
}

.site_ab {
  @apply before:content-[""] before:absolute before:top-[5px] before:right-[-10px] before:bg-white before:w-[1px] before:h-[15px] before:rotate-[15deg]
}

.production-card:hover img{
  @apply scale-[1.1]
}